html {
   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
}

header {
   background-color: rgb(231, 231, 248);
}

body {
   font-family: 'Roboto', sans-serif
}

.container {
   width: 100%;
   max-width: 800px;
   margin: auto;
}


.nav-list {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-link {
   padding: 0 20px;
   line-height: 50px;
   transition: .3s;
}

.section-item a {
   color: #829985;
   text-decoration: none;
   transition: color 0.5s;
}

.section-item a:hover {
   color: #4d2323;
}

.ava {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 20px;
}

.ava img {
   display: block;
   width: 100%;
}

.two-column-container {
   display: flex;
   align-items: center;
}

.highlight {
   font-weight: 300;
   font-size: 14px;
   color: rgb(35, 40, 44);
}

.footer-picture {
   width: 150px;
}

.footer-picture img {
   display: block;
   width: 100%;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

a {
   text-decoration: none;
   color: black;
   font-size: 18px;
}

a:hover {
   text-decoration: underline;
}